# My global git config. Source:  https://github.com/SamK/dotfiles
#
# Nice docs:
# - http://nuclearsquid.com/writings/git-tricks-tips-workflows/
# - http://gggritso.com/human-git-aliases
#
[core]

    excludesfile = ~/.config/git/ignore
    attributesfile = ~/.config/git/attributes
    quotepath = false
[alias]

    # Execute un git diff sur un fichier docker-compose.yml
    # arguments pas supportés
    diff-docker-compose = "! \
        GIT_PWD=$PWD/${GIT_PREFIX} && \
        TEMPDIR=$(mktemp -d --suffix=_docker-compose-diff) && \
        cd $GIT_PWD && \
        git docker-compose-config-a > $TEMPDIR/a && \
        cd $GIT_PWD && \
        git docker-compose-config-b > $TEMPDIR/b && \
        diff --color -u $TEMPDIR/a $TEMPDIR/b || \
        [ \"$?\" = \"1\" ] && \
        /bin/rm -f \"$TEMPDIR\"/a && \
        /bin/rm -f \"$TEMPDIR\"/b && \
        /bin/rmdir \"$TEMPDIR\""

    # private
    docker-compose-config-a = "! \
        cd ${GIT_PREFIX} && \
        TEMPDIR=$(mktemp -d --suffix=_docker-compose-config-a) && \
        git show HEAD:./docker-compose.override.yml > $TEMPDIR/docker-compose.override.yml && \
        git show HEAD:../../docker-compose.base.yml  > $TEMPDIR/docker-compose.yml && \
        cd $TEMPDIR && \
        docker-compose config && \
        /bin/rm -f \"$TEMPDIR\"/*.yml && \
        /bin/rmdir $TEMPDIR"

    # private
    docker-compose-config-b = "! \
        cd ${GIT_PREFIX} && \
        TEMPDIR=$(mktemp -d --suffix=_docker-compose-config-b) && \
        cat ./docker-compose.override.yml > $TEMPDIR/docker-compose.override.yml && \
        cat docker-compose.yml  > $TEMPDIR/docker-compose.yml && \
        cd $TEMPDIR && \
        docker-compose config && \
        /bin/rm -f \"$TEMPDIR\"/*.yml && \
        /bin/rmdir $TEMPDIR"

    # Log aliases
    # ###########
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    # Git tree style 1 (compact)
    lg = log --graph --abbrev-commit --decorate --date=iso --format=format:'%C(yellow)%h%C(reset) - %C(green)(%ad)%C(reset) %C(white)%s%C(reset) %C(blue)[%an]%C(reset)%C(red)%d%C(reset)' --all
    # git tree without remotes
    lgl = log --graph --abbrev-commit --decorate --date=iso --format=format:'%C(yellow)%h%C(reset) - %C(green)(%ad)%C(reset) %C(white)%s%C(reset) %C(blue)[%an]%C(reset)%C(red)%d%C(reset)'  --branches=*
    lgb = "!git lg --first-parent  $(gitrev-parse --abbrev-ref HEAD)"
    # git tree style 2 (aero)
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    # git tree style 3 (wide)
    lg3 = log --graph --abbrev-commit --decorate --date=relative --color --all
    # Log all commits between wo days
    log-day = "!f() { git log --after=\"$1 00:00\" --before=\"$1 23:59\"; }; f"
    # Keep a changelog
    keep-a-changelog = log  --no-merges --format='  * %s (%an)'
    # historic graph of last 10 commits
    graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
    # reflog with date
    reflog-date = reflog --date=iso
    log-mr = "log origin/master.. --format=format:\"## %s (%h)%n%n%b\""

    branch-todo =  branch  --sort=-committerdate --no-merged
    branch-todel =  branch  --sort=-committerdate --merged
    branch-bydate-asc = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
    branch-bydate-desc = for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
    branch-by-author = for-each-ref --format=' %(authorname) %09 %(refname)' --sort=authorname
    code-changes = "!git log --format=format: --name-only | egrep -v '^$' | sort | uniq -c | sort -rg | head -10"
    grep-fixme = grep 'NOTE\\|OPTIMIZE\\|TODO\\|HACK\\|XXX\\|FIXME\\|BUG'
    fixme = grep-fixme
    authors-by-commits = shortlog -s -n --all --no-merges

    # Human commands
    note = notes
    tags = tag -n9
    branches = branch -a
    stashes = stash list
    uncommit = reset --soft HEAD~1
    unmerge = reset --merge ORIG_HEAD
    unstage = reset -q HEAD
    commti = commit
    status-ignored = status --ignored
    # Merge with all log messages
    merge-log = merge --log=100 --no-ff --edit
    merge-log-d = "!git merge --log=100 --no-ff --edit \"$1\" && git branch -d \"$1\" || git merge --abort #"

    precommit = diff --cached --diff-algorithm=minimal -w
    root = rev-parse --show-toplevel
    diff-chars = diff --color-words --word-diff-regex=.
    diff-words = diff --color-words --word-diff-regex='\\w+|.'
    show-words = show --color-words --word-diff-regex='\\w+|.'
    refresh-remote-branches = "!for r in $(git remote) ; do git remote update $r --prune ; done"
    blame-no-textconv = blame --no-textconv

    # Faster typing
    st = -c "advice.statusHints=off" status
    br = branch
    co = checkout
    ci = commit


    # push aliases
    ps = push
    psf = push --force

    # fetch aliases
    fe = fetch
    fp = fetch --prune

    # pull aliases
    pl = pull
    p = pull origin HEAD --rebase --prune --ff-only --stat

    # rebase aliases
    # if origin/HEAD does not exist, create it like this:
    # git symbolic-ref refs/remotes/origin/HEAD refs/remotes/origin/master
    # source: https://stackoverflow.com/a/17639471
    re = rebase
    ri = rebase -i
    rim = rebase -i master
    rid = rebase -i develop
    riH = rebase -i HEAD
    riom = rebase -i origin/master
    rom = rebase origin/master
    riod = rebase -i origin/develop
    rioH = rebase -i origin/HEAD
[commit]
    verbose = true
[credential]
   helper = cache --timeout=3600
[push]
    default = current
[diff "odf"]
    # diff for OpenDocument files
    textconv = odf2prettytxt
    # http://stackoverflow.com/questions/28017249/what-does-diff-mnemonicprefix-do
    mnemonicprefix = true
[diff "json"]
         textconv = "cat \"$1\" | json_pp --json_opt=canonical,pretty"
[diff]
    algorithm = histogram
# colors
# http://blog.kmelia.net/testing/changer-les-couleurs-de-git/243
[color]
    ui = true
[color "status"]
    header    = white
    added     = green
    changed   = red
    untracked = yellow
    branch    = bold white
    # never seen
    nobranch  = reverse magenta
[color "branch"]
    current  = reverse green
    local    = white
    remote   = cyan
    upstream = cyan
    # never seen
    plain    = reverse cyan
[grep]
    lineNumber = true
[include]
    path = .gitconfig.local
[diff "ansible-vault"]
    textconv = ansible-vault view
### EOF ###
[init]
	defaultBranch = master
[advice]
	skippedCherryPicks = false
