<% macro graph(name) -%>
${color1}${<< name >> << graph_height >>,0 <<color_graph1>> <<color_graph2>> }${color}
<%- endmacro -%>
<% macro graph_small(name) -%>
${color1}${<< name >> << graph_height_small>>,<< graph_width_small>> <<color_graph1>> <<color_graph2>> }${color}
<%- endmacro -%>
<% macro defbar(name, value, barname) -%>
${color1}<< name >>${color} << value >>${alignr}${color1}${<<barname>>}
<%- endmacro -%>
<% macro definition(name, value) -%>
${color1}<< name >>${color} << value >>${color}
<%- endmacro -%>



# Template Header
#################
alignment top_right
border_width 1
maximum_width << maximum_width >>
cpu_avg_samples 2
default_color white
default_outline_color red
default_shade_color red
draw_borders no
draw_graph_borders no
draw_outline no
draw_shades no
use_xft yes
#xftfont DejaVu Sans Mono:size=10
xftfont Arial:size=10
gap_x 10
gap_y 10
minimum_size 10 50
net_avg_samples 2
no_buffers yes
out_to_console no
out_to_stderr no
extra_newline no
own_window yes
own_window_colour black
own_window_class Conky
stippled_borders 0
update_interval 1.0
<% if not battery %>#<% endif %>update_interval_on_battery 60
uppercase no
use_spacer none
show_graph_scale no
show_graph_range no
default_bar_size 155 12
default_graph_size 150 24
<% if bg_transparent %>
# The background must be transparent
own_window_type normal
own_window_argb_visual yes
own_window_argb_value 255
own_window_transparent yes
own_window_hints undecorated,below,sticky,skip_taskbar,skip_pager
<% else %>
# The background is not transparent
background yes
own_window_type override

<%endif %>
# 
template0 grey
# graph params: width,height colour1 colour2
template1 FFFFFF F700FF

color1 << color1 >>
color2 << color2 >>

TEXT
$color$alignc$nodename - $sysname $kernel
$hr
<% if battery -%>
${color1}Batterie: ${color}$battery $battery_time $alignr$color1$alignr${battery_bar 12,155}
<% else -%>
# no battery
<% endif -%>
<< definition("Load:", '${loadavg}')>>$alignr<< definition("Processes:", '$running_processes/$processes') >>
<< graph("cpugraph cpu0") >>
<< defbar("CPU", '${cpu}%', "cpubar") >>
<< defbar("RAM", '${memperc}%', "membar") >>
<< defbar("Swap:", '${swapperc}%', "swapbar") >>

<% for fs in filesystems -%>
<< defbar(fs.mountpoint, '${fs_used ' + fs.mountpoint + '}/${fs_size ' + fs.mountpoint + '}', 'fs_bar ' + fs.mountpoint) >>
<% endfor -%>
#${color grey}ACPI:$color $acpitemp°C (${hwmon 0 temp 1}°C) ${color grey}Physical id 0:$color ${hwmon 1 temp 1}
<% if hwmon -%>
${color grey}Core 0:$color ${hwmon 1 temp 2}°C $alignr${color grey}Core 1:$color ${hwmon 1 temp 3}°C$color
<% else -%>
# hwmon not supported
<% endif -%>
<% if hddtemp -%>
<% for drive in drives -%>
${color1}<< drive>>>:$color ${hddtemp <<drive>>}°C
<% endfor -%>
<% else -%>
# hddtemp not supported
<% endif -%>
#
<% for drive in drives -%>
<< graph_small("diskiograph_read " + drive) >>$alignr<< graph_small("diskiograph_write " + drive) >>
<< drive >>: ${color grey}I/O Read:$color ${diskio_read << drive >>}$alignr${color grey}I/O Write:$color ${diskio_write << drive >>}
<% endfor -%>
#
$hr
#
<% for iface in interfaces -%>
################################## interface << iface >>
<< graph_small("upspeedgraph " + iface) >>$alignr<< graph_small("downspeedgraph " + iface) >>
${color1}<<iface>> ${if_match "${addrs <<iface>>}" == "0.0.0.0"}DOWN\
$else(${addrs <<iface>>}) \
<% if iface.startswith("wlan") %>ESSID:$color ${wireless_essid << iface >>}<%endif%> \
<< definition("Up:", '${upspeed ' +iface+ '}') >>$alignr<< definition("Down:", '${downspeed ' + iface + '}') >>\
$endif
<% endfor -%>
#

#
${font DejaVu Sans Mono:size=10}${color1}TOP                PID   CPU%   MEM%$color
${top name 1} ${top pid 1} ${top cpu 1} ${top mem 1}
${top name 2} ${top pid 2} ${top cpu 2} ${top mem 2}
${top name 3} ${top pid 3} ${top cpu 3} ${top mem 3}
${top name 4} ${top pid 4} ${top cpu 4} ${top mem 4}

